*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#2A00B7, #42006C);
    padding: 10px;
}

.todo-box{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-box h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-box h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 35px;
    background: #ff5945;
    color: #f9f9f9;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

button:hover{
    background: #ff3b2f;
    transform: scale(1.05);
    transition: all 0.3s ease;
}


.all-tasks, .todays-tasks {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todays-tasks h3, .all-tasks h3 {
    border-left: 4px solid #2196F3;
    padding-left: 15px;  
    margin-top: 0;
    padding-top: 0;
}

.all-tasks h3 {
    border-left: 4px solid #7b32e8;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
}

ul li span:nth-child(1) {
    right: 35px;
}

ul li span:nth-child(2) {
    right: 0;
    background-image: url(images/exclamation.png);
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center; 
    width: 30px; 
    height: 40px;
}

ul li span:nth-child(1):hover{
    background: #edeef0;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

ul li span:nth-child(2):hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}